[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
AssetStoreTools*
.vs/
*.csproj
*.suo
*.sln*
*.user
*.userprefs
.idea/
.vscode/
*.unityproj
*.booproj
*.svd
sysinfo.txt
*.apk
*.aab
*.bin
*.exe
*.ipa
*.dmg
UnityPackageManager/
